%default-element{
  margin: 20px auto;
  text-align: center;
}

%pitch-salmon{

  .pitch-title, .pitch-block{
    @extend %default-element;
    width: 100%;
  }

  .img-main{
    @extend %default-element;

    img{
      max-width: 280px;
    }
  }
}

section {

  .img-small{
    width: 140px;
  }

  .container{
    @extend %container-base;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

#sect-pitch{

  .pitch-title, .call-to-action, .img-main{
    @extend %default-element;
  }

  .img-main{
    max-width: 570px;
  }
}

#sect-pitch-2{
  @extend %pitch-salmon;
}

#sect-pitch-3{
  @extend %pitch-salmon;
}

#sect-feat{
  .img-container{
    @extend %default-element;

    img{
      max-width: 700px;
    }
  }
  .pitch-block{
    @extend %default-element;

    img {
      max-width: 270px;
    }
  }
}