
$bg-pink: pink;


%container-base{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
@import 'header';
@import 'footer';
@import 'section';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
  font-family: 'Lato', sans-serif;
}
